@font-face {
  font-family: Yuan;
  src: url("../font/GenJyuuGothic-Normal.ttf");
}
@font-face {
  font-family: Comic Sans;
  src: url("../font/911Fonts.com_ComicSansMSRegular__-_911fonts.com_fonts_BpCS.ttf");
}
body
{
  background: url("../img/index.png");
  background-position:center top;
  background-repeat: no-repeat;
}
.invisible
{
  visibility: hidden;
}
.header
{
  margin:0 auto;
  width:1024px;
  height:80px;
}
.language
{
  margin-right:0px;
  margin-top:25px;
  -webkit-appearance: none;
  background: #AAA;
  border-radius: 15px;
  cursor: pointer;
  width:120px;
  height: 50px;
  text-align: center;
  transition: background 0.2s ease-in-out;
  opacity:0.7;
  float:right;
}
.language p
{
  font-family:Yuan;
  font-weight: bolder;
  color:#333;
  font-size: 20px;
  line-height: 2.5;
  opacity:1.0;
}
.language:hover
{

  background: #CCC;

}
.icon
{
  width:150px;
  height:150px;
  border-radius: 100px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 30px;
  border: 2px solid white;
  cursor: default;
  position: relative;
  transition: background 0.5s ease-in-out;
  background:url(../img/logo/icon-default.png) repeat 0px 10px;
}
.profile
{
  width:150px;
  height:150px;
  color:#FFF;
  background-color:#000;
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  font-family: Yuan;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom:0px;
  opacity: 0.7;
  line-height: 5.5;
  border-radius:100px;
  transition: background 0.5s ease-in-out;
  display:none;
}

.icon:hover div
{
  display:block;
}

.logbutton
{
  width:200px;
  height:50px;
  border-radius:15px;
  margin:30px auto;
  background:#FFE34B;
  color:#d86a08;
  text-align: center;
  font-size: 20px;
  font-weight:bold;
  font-family:Comic Sans,Yuan;
  line-height:2.4;
  cursor:pointer;
  clear:both;
  transition: background 0.5s ease-in-out;
}
.logbutton:hover
{
  background:#FFF45C;

}
#masking
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:0px;
	display:none;
	z-index:99;
}

.popup
 {
    background-color: inherit;
    width:1024px;
  	height:500px;
  	position:absolute;
  	z-index:100;
  	left:400px;
  	top:96px;
    display: none;
  }

  .popup span {
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .popup .front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  .popup .front.hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .popup .behind {
    position: absolute;
    left: 0;
    top: 46px;
    width:1024px;
    height:500px;
    -webkit-transform: rotateX(0deg) rotateY(180deg);
    -moz-transform: rotateX(0deg) rotateY(180deg);
    -ms-transform: rotateX(0deg) rotateY(180deg);
    -o-transform: rotateX(0deg) rotateY(180deg);
    transform: rotateX(0deg) rotateY(180deg);
    display: none\9;
  }

  .popup .behind.hover {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

.left_nav
{
  background-color: #FFF;
  position: relative;
  width:511px;
  height:500px;
  float:left;
  border-top:1px solid #ebeaea;
}
.right_nav
{
  background-color: #FFF;
  width:511px;
	height:500px;
  float:left;
  border-top:1px solid #ebeaea;
}

.error-info
{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
  font-family: Yuan;
  width:371px;
  clear:both;
  float:left;
  line-height: 1.4;
  cursor:default;
  color:#FF0000;
}
.login-info
{
  color:#00DD00;
}

.popup .top_nav
{
	width:1024px;
	height:46px;
  background-color: #FFF;
	position:relative;
}

.popup .top_nav a.exit
{
  background:url(../img/logo/exit_cross.png) repeat 0px 0px;
  width:35px;
  height:35px;
  display: block;
  position:absolute;
  top:8px;
  right:10px;
  cursor:pointer;
}

.popup .top_nav a.exit:hover
{
  background: url(../img/logo/exit_cross.png) repeat 0px -35px;
}

.sign-in .left_nav
{
  width:511px;
	height:500px;
  background-color:#fff;
  float:left;
}
.popup-title
{
  font-size: 30px;
  font-weight:bold;
  font-family: Yuan;
  margin-left:70px;
  margin-top:50px;
  margin-bottom:35px;
  color:#888888;
  cursor:default;
}
.popup .sign-in .left_nav input
{
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #888888;
  font-family:Yuan;
  font-size: 16px;
  height: 40px;
  padding:0 0 0 34px;
	margin-left:70px;;
  margin-bottom:20px;
  transition: background 0.5s ease-in-out;
  width: 220px;
	float:left;
}
.popup .sign-in .left_nav input:focus
{
  outline: none;
  border-color: rgb(154, 63, 228);
  box-shadow: 0 0 0px rgb(154, 63, 228);
}
.popup .sign-in .left_nav .input-account-sign-in
{
  background:url(../img/logo/account.jpg) no-repeat left top;
}
.popup .sign-in .left_nav .input-password-sign-in
{
  background:url(../img/logo/password.jpg) no-repeat left top;
}
.popup .sign-in .left_nav .input-account-sign-in:focus
{
  background:url(../img/logo/account-focus.png) no-repeat left top;
}
.popup .sign-in .left_nav .input-password-sign-in:focus
{
  background:url(../img/logo/password-focus.png) no-repeat left top;
}
.popup .sign-in .left_nav .button
{
    -webkit-appearance: none;
    background: rgb(154, 63, 228);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family:Yuan;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left:70px;
    transition: background 0.5s ease-in-out;
    width: 255px;
	  padding:0 50px 0 50px;
	  font-weight: bold;
}

.popup .sign-in .left_nav .button:hover
{
  	background: rgba(154, 63, 228,0.80);
}

.google
{
  width:290px;
  height:60px;
  cursor: pointer;
  font-family:Yuan;
  font-weight: 400;
  line-height:2.7;
  font-size: 22px;
  margin-left:70px;
  margin-top:90px;
  padding-left: 75px;
  float: left;
  cursor: pointer;
  background:url("../img/logo/google-button.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  border: 1px solid #888888;
  color:#888888;
  border-radius: 5px;
  opacity: 0.85;
  transition: background 0.5s ease-in-out;
}
.google:hover,.facebook:hover,.twitter:hover
{
  opacity: 1.0;
}
.facebook
{
  width:290px;
  height:60px;
  cursor: pointer;
  font-family:Yuan;
  font-weight: 400;
  line-height:2.7;
  font-size: 22px;
  margin-left:70px;
  margin-top:25px;
  padding-left:75px;
  float: left;
  cursor: pointer;
  background:url("../img/logo/facebook-button.png");
  background-repeat: no-repeat;
  background-position: left -20px center;
  border-radius: 5px;
  background-color: #3a589e;
  border: 1px solid  #3a589e;
  color:#FFF;
  opacity: 0.85;
  transition: background 0.5s ease-in-out;
}

.twitter
{
  width:290px;
  height:60px;
  cursor: pointer;
  font-family:Yuan;
  font-weight: 400;
  line-height:2.7;
  font-size: 22px;
  margin-left:70px;
  margin-top:25px;
  padding-left:75px;
  float: left;
  cursor: pointer;
  background:url("../img/logo/twitter-button.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  border: 1px solid #00aced;
  background-color: #00aced;
  color:#FFF;
  border-radius: 5px;
  opacity: 0.85;
  transition: background 0.5s ease-in-out;
}
.sir
{
  cursor: pointer;
  font-family:Yuan;
  font-size: 16px;
  line-height: 2.2;
  margin-left: 167px;
}
.sir-ch
{
  margin-left: 185px;
}
.mean
{
  margin-top:20px;
  width:300px;
  height:50px;
  display: none;
}
.google-icon
{
  width:40px;
  height:40px;
  clear: both;
  float: left;
  background:url("../img/logo/google-button.png");
}
.facebook-icon
{
  width:40px;
  height:40px;
  margin-left: 40px;
  float: left;
  background:url("../img/logo/facebook-icon.png");
}
.twitter-icon
{
  width:40px;
  height:40px;
  margin-left: 40px;
  float: left;
  background:url("../img/logo/twitter-icon.png");
}
.background
{
  width:2px;
  height:500px;
  background-color:#FFF;
  float:left;
  border-top:1px solid #ebeaea;
}
.divide-line
{
  width:1px;
  height:450px;
  background-color:#DDDDDD;
  margin-left:0.5px;
  margin-top:25px;

}
.popup .sign-up .left_nav  input
{
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #888888;
  font-family:Yuan;
  font-size: 16px;
  height: 40px;
  padding:0 0 0 34px;
	margin-left:70px;
  margin-bottom:20px;
  transition: background 0.5s ease-in-out;
  width: 220px;
	float:left;
  border-top:1px solid #ebeaea;
}
.popup .sign-up .left_nav  input:focus
{
  outline: none;
  border-color: rgb(154, 63, 228);
  box-shadow: 0 0 0px rgb(154, 63, 228);
}
.popup .sign-up .left_nav   .input-account-sign-up
{
  background:url(../img/logo/account.jpg) no-repeat left top;
}
.popup .sign-up .left_nav   .input-password-sign-up
{
  background:url(../img/logo/password.jpg) no-repeat left top;
}
.popup .sign-up .left_nav   .input-account-sign-up:focus
{
  background:url(../img/logo/account-focus.png) no-repeat left top;
}
.popup .sign-up .left_nav   .input-password-sign-up:focus
{
  background:url(../img/logo/password-focus.png) no-repeat left top;
}
.popup .sign-up .left_nav   .input-password-sign-up-confirm
{
  background:url(../img/logo/key.png) no-repeat left top;
}
.popup .sign-up .left_nav   .input-password-sign-up-confirm:focus
{
  background:url(../img/logo/key-focus.png) no-repeat left top;
}

.popup .sign-up .left_nav .button
{
    clear: both;
    float: left;
    margin-left: 70px;
    margin-top:20px;
    -webkit-appearance: none;
    background: rgb(154, 63, 228);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family:Yuan;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.5s ease-in-out;
    width: 255px;
	  padding:0 50px 0 50px;
	  font-weight: bold;
}
.popup .sign-up .left_nav .button:hover
{
  	background: rgba(154, 63, 228,0.80);
}
.sir:hover,.sur:hover
{
  color:rgb(154, 63, 228);
  font-weight:bold;
}
.sur
{
  clear: both;
  cursor: pointer;
  margin-left: 135px;
  font-family:Yuan;
  font-size: 16px;
  line-height:2.3;
}
.sur-ch
{
  margin-left: 185px;
}
/*---------------------------------------------------------*/
.index-content
{
  width:1024px;
  border-radius:10px;
  margin:170px auto;
  text-align: center;
  line-height:1.6;
  clear:both;
  cursor:default;
}
.index-content .metro
{
  letter-spacing: 5px;
  font-family: Comic Sans,Yuan;
  text-shadow:3px 3px #000;
  color:#FFF;
  font-weight: bolder;
  font-size:100px;
}
.index-content .quote
{
  letter-spacing: 2px;
  margin-top: 60px;
  font-family: Comic Sans,Yuan;
  text-shadow:3px 3px #000;
  color:#c6dbe4;
  font-size:30px;
  line-height: 1.4;
  font-style: italic;
}

.line-button
{
  width:602px;
  height:173px;
  margin:226px auto;
  margin-bottom: 0px;
  position:relative;
}
.line-button p
{
  font-family: Comic Sans,Yuan;
  text-shadow:3px 3px #000;
  text-align:center;
  line-height:2.0;
  color:#BBB;
  font-size:90px;
  z-index: 10000000000000;
}
.line-button img
{
  width:602px;
  height:173px;
  position:absolute;
  opacity: 0.45;
  top:0px;
  left:0px;
  /* CSS3淡出淡入效果,1秒 */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.line-button img:nth-of-type(2)
{
  opacity:0;
}
.line-button img:nth-of-type(2):hover
{
  opacity:0.45;/*滑鼠滑入時，透明度變0*/
}
#body
{
  width:1024px;
  height: 350px;
  margin:20px auto;
  display:none;
}

.line-block
{
  transition: background 0.5s ease-in-out;
  width:300px;
  height:125px;
  margin-left: 27px;
  margin-top: 27px;
  border: 2px solid black;
  color:#888888;
  text-align: center;
  font-size: 50px;
  font-weight:bold;
  font-family: Yuan;
  line-height: 2.5;
  float:left;
  cursor: pointer;
}
.chinese
{
  margin-top:268px;
}
.ToP
{
  position: fixed;
  visibility: hidden;
  width:50px;
  height: 50px;
  right: 0px;
  bottom:0px;
}
@media screen and (max-width: 1024px) {
  #body
  {
    width:768px;
    height:500px;
    margin:20px auto;
  }
  .ToP
  {
    visibility: hidden;
  }
  .popup,  .popup .top_nav
  {
    width:770px;
  }
  .index-content,.header
  {
    width:768px;
  }
  .popup-title
  {
    margin-top: 50px;
  }
  .popup-title,.popup .sign-in .left_nav input,
  .popup .sign-in .left_nav .button,
  .popup .sign-up .left_nav input,
  .popup .sign-up .left_nav .button,
  {
    margin-left: 63px;
  }
  .sir
  {
    margin-left: 160px;
  }
  .sur
  {
    margin-left: 130px;
  }
  .sign-in .left_nav,.sign-in .right_nav,
  .sign-up .left_nav,.sign-up .right_nav
  {
    width:384px;
    height:500px;
  }
  .google
  {
    margin-top: 80px;
  }
  .facebook,.google,.twitter
  {
    width:260px;
    margin-left: 23px;
    font-size: 25px;
    line-height: 2.43;
  }

  .popup .sign-in .left_nav input,
  .popup .sign-up .left_nav input
  {
    margin-top:15px;
  }
  .line-block
  {
    width:337px;
  }
  .index-content
  {
    font-size:18px;
  }
  .error-info
  {
    width:280px;
    margin-left:52px;
  }
  .sir-ch,.sur-ch
  {
    margin-left: 185px;
  }
  .line-button
  {
    margin:255px auto;
    margin-bottom: 0px;
  }
  .index-content .metro
  {
    font-size:80px;
  }
  .index-content .quote
  {
    margin-top: 48px;
    font-size:24px;
  }

  .line-button
  {
    width:496px;
    height:138.4px;
    margin-top:288px;
  }
  .line-button img
  {
    width:496px;
    height:138.4px;
    position:absolute;
  }
  .line-button p
  {
    line-height:2.0;
    font-size:72px;
  }
  .chinese
  {
    margin-top:322px;
  }
}

@media screen and (max-width: 768px) {
  body
  {
    background: url("../img/index-small.png");
    background-position:center top;
    background-repeat: no-repeat;
  }
  #body
  {
    width:480px;
    height:600px;
  }
  .language
  {
    width:100px;
    height: 33.3px;
    margin-top: 25px;
    font-size: 16px;
  }
  .language p
  {
    line-height: 1.7;
  }
  .index-content,.header
  {
    width:480px;
  }
  .line-block
  {
    width:418px;
  }
  .index-content
  {
    font-size:16px;
  }
  .mean
  {
    display: block;
  }
  .popup,  .popup .top_nav
  {
    width:480px;
  }
  .popup-title,.popup .sign-in .left_nav input,
  .popup .sign-in .left_nav .button,
  .popup .sign-up .left_nav input,
  .popup .sign-up .left_nav .button,
  .mean
  {
    margin-left: 60px;
  }
  .error-info
  {
    width:360px;
  }
  .popup-title
  {
    margin-top: 50px;
  }
  .sign-in .left_nav,.sign-in .right_nav,
  .sign-up .left_nav,.sign-up .right_nav
  {
    width:480px;
    height:520px;
  }
  .popup .sign-in .left_nav input,
  .popup .sign-up .left_nav input
  {
    margin-top:0px;
  }
  .facebook,.google,.twitter,.right_nav,.background
  {
    display: none;
  }
  .sir-ch,.sur-ch
  {
    margin-left: 175px;
  }
  .index-content
  {
    margin:60px auto;
  }
  .index-content .metro
  {
    width:480px;
    font-size:53px;
  }
  .index-content .quote
  {
    margin-top: 48px;
    font-size:19px;
  }

  .line-button
  {
    width:400px;
    height:114.95px;
    margin-top:65px;
  }
  .line-button img
  {
    width:400px;
    height:114.95px;
    position:absolute;
  }
  .line-button p
  {
    line-height:2.0;
    font-size:60px;
  }
  .chinese
  {
    margin-top:91px;
  }
  .ToP
  {
    visibility: visible;
  }
}
@media screen and (max-width: 480px) {
  body
  {
    background: url("../img/index-small.png");
    background-position:center top;
    background-repeat: no-repeat;
  }
  #body
  {
    width:320px;
    height:600px;
  }
  .index-content,.header
  {
    width:320px;
  }
  .line-block
  {
    width:300px;
    margin-left:10px
  }
  .popup-title
  {
    margin-top: 25px;
  }
  .popup,  .popup .top_nav
  {
    width:320px;
  }
  .popup .sign-in .left_nav input,
  .popup .sign-up .left_nav input
  {
    margin-top:15px;
  }
  .sign-in .left_nav,.sign-in .right_nav,
  .sign-up .left_nav,.sign-up .right_nav
  {
    width:320px;
    height:520px;
  }
  .popup-title,.popup .sign-in .left_nav input,
  .popup .sign-in .left_nav .button,
  .popup .sign-up .left_nav input,
  .popup .sign-up .left_nav .button,
  .mean
  {
    margin-left: 50px;
    width:220px;
  }
  .error-info
  {
    width: 280px;
    margin-left: 20px;
  }
  .sir
  {
    margin-left: 111px;
  }
  .sur
  {
    margin-left: 81px;
  }
  .popup .sign-in .left_nav input,
  .popup .sign-up .left_nav input
  {
    width:186px;
  }
  .sir-ch,.sur-ch
  {
    margin-left:130px;
  }
  .index-content
  {
    margin:50px auto;
  }
  .index-content .metro
  {
    width:340px;
    font-size:28px;
  }
  .index-content .quote
  {
    margin-top: 48px;
    font-size:19px;
  }

  .line-button
  {
    width:300px;
    height:86.212px;
    margin-top:77px;
  }
  .line-button img
  {
    width:300px;
    height:86.212px;
    position:absolute;
  }
  .line-button p
  {
    line-height:2.0;
    font-size:48px;
  }
  .chinese
  {
    margin-top:103px;
  }

}
